.full-page-condent{
    background-color: #f5f5f5;
    min-height: 100vh;
}
.page-navbar{
    position: fixed;
    display: flex;
}
.page-content{
    padding-left: 15px;
    padding-right: 15px;
}

.category-card {
  border: none;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.category-card:hover {
  transform: scale(1.05);
}

.category-image {
  border-radius: 10px;
  height: 150px;
  object-fit: cover;
}

.category-title {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 0.5rem;
}
